header {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1;
	width: 100%;
	min-height: 50px;
	text-align: right;
	transition: background 0.5s ease;

	&.show-header-background {
		background: rgba(255, 255, 255, 0.85);
	}

	&.hide-header-background {
		background: none;
	}
}

nav.navbar {
	border: none;
	margin: 0;
	#donate {
		float: right;
		height: 60px;
	}
	.navbar-toggle {
		border-color: #333;
		margin-top: 15px;
		float: none;
	}
	.icon-bar {
		background-color: #c46720;
	}
	ul.navbar-nav {
		display: inline;
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			.link {
				display: block;
				color: #c46720;
				padding: 20px;
			}
			.fb-icon {
				font-size: 23pt;
				color: #c46720;
			}
		}
	}
	input {
		background-color: #c46720;
		border: none;
		color: #fff;
		font-family: Helvetica;
		font-weight: bold;
		padding: 0 20px;
		height: 60px;
	}
}

@media (min-width: 768px) { 
	ul.navbar-nav {
		float: right;
		li {
			float: left;
		}
	}
}

@media (max-width: 768px) { 
	#nav {
		width: 100%;
		text-align: center;
		padding: 0;
	}
}