footer {
	background: #c46720;
	width: 100%;
	min-height: 50px;
	margin: 60px auto 0;
	text-align: center;
	padding: 30px;
	color: #FFF;
	.contact {
		text-align: left;
		padding-left: 10vw;
		a {
			color: #FFF;
		}
	}
	.info {
		text-align: right;
		padding-right: 10vw;
		margin-top: 68px;
	}
	.credits {
		clear: both;
		border-top: 1px solid rgba(209,211,212,0.15);
		margin: 0 15px;
		padding-top: 20px;
		font-size: 10px;
		span {
			margin-bottom: 0;
			a {
				color: #FFF;
			}
		}
	}
	@media (max-width: 991px) {
		.info {
			text-align: left;
			padding-left: 10vw;
			padding-right: 0;
			margin-top: 10px;
		}
	}
}