footer {
	position: absolute;
	left: 0;
	background: #fff;
	width: 100%;
	min-height: 50px;
	bottom: 0;
}

.box {
	float: left;
	width: 33%;
	padding: 12.5px;
	box-sizing: border-box;
}
.left {
	text-align: left;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}