footer {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 1;
	background: #fff;
	width: 100%;
	min-height: 50px;
	text-align: right;
}

.box {
    display: inline-block;
    width: 33.3%;
    padding: 12.5px;
    vertical-align: middle;
}
.left {
	text-align: left;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}