header {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1;
	background: #fff;
	width: 100%;
	min-height: 50px;
	text-align: right;
}

nav {
	a {
		padding: 20px;
		float: left;
	}
	div {
		padding: 20px;
		float: right;
	}
}