.team {
	width: 100%;
	.member {
		padding: 20px;
		img {
			display: block;
			margin: 0 auto 20px;
			border: 1px solid #000;
			-webkit-border-radius: 150px;
			-moz-border-radius: 150px;
			border-radius: 150px;
			width: 300;
			height: 300;
		}
	}
}